# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf
/assets/Moon_NASA_LRO_8k_Topo.glb filter=lfs diff=lfs merge=lfs -text
/scenes/moon.scn filter=lfs diff=lfs merge=lfs -text
